/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 29, 2018, 2:26:35 PM
    Author     : blinderjay
*/


.button{
    -fx-text-fill: "#FF8600";
    -fx-background-color: #ffffff;
    -fx-opacity: 0.64;
    -fx-font: bold 13.0px sans-serif;
    -fx-background-radius: 10;
}

.button:hover{  
    -fx-text-fill: #BF6500;  
    -fx-opacity: 0.81;
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-radius: 9;
}